<%- include('partials/header') %>

<main>
  <div class="search-box">
    <a class="add-button" href="/services/form">Adicionar</a>
    <form method="get">
      <button type="submit">Search</button>
      <input type="search" name="search" id="search">
    </form>
  </div>

  <div class="column-header">
    <div class="column">
      <h4>ID</h4>
    </div>
    <div class="column">
      <h4>Nome</h4>
    </div>
    <div class="column">
      <h4>Price</h4>
    </div>
    <div class="column">
      <h4>Ações</h4>
    </div>
  </div>

  <div class="body">
    <% services.forEach(service => { %>
      <div class="row">
        <span class="item"><%= service.id %></span>
        <span class="item"><%= service.nome %></span>
        <span class="item"><%= service.price %></span>
        <span class="item actions">
          <a href="/services/form/<%= service.id %>">Editar</a>
          <form action="/services/<%= service.id %>?_method=DELETE" method="post">
            <button type="submit">Deletar</button>
          </form>
        </span>
      </div>
    <% }) %>
  </div>
</main>

<%- include('partials/footer') %>

